<nav class="navbar bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" style="color:aliceblue;">CENACE</a>
  </div>
</nav>

<br><br>

<div class="container-fluid">
  <table class="table table-dark table-striped-columns">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>image</th>
        <th>description</th>
        <th>max life</th>
      </tr>
    </thead>
    <tbody>
      @for (dog of dogs; track $index) {
        <tr>
          <td>{{dog.id}}</td>
          <td>{{dog.name}}</td>
          <td><img src={{dog.urlImage}} width="200px" height="100px"></td>
          <td>{{dog.description}}</td>
          <td>{{dog.maxLife}}</td>
        </tr>

      }
    </tbody>
  </table>
</div>